# Programming 5 - Python Programming

## Data Types & Operators

In this lesson, we'll explore **data types** (Numbers, Strings, Booleans) and learn about **operators** (Arithmetic, Comparison, Logical). These are the building blocks of any Python program. By understanding how each data type behaves with different operators, youâ€™ll gain a solid foundation for more complex concepts like data structures, conditionals, and functions.

> **Note**: For a more in-depth discussion on Pythonâ€™s data types and operators, see  
> - Sanner, M. F. (1999). *Python: A Programming Language for Software Integration and Development.* Journal of Molecular Graphics and Modelling, 17(1), 57-61.  
> - Lutz, M. (2013). *Learning Python* (5th ed.). Oâ€™Reilly Media, Inc.  
> - Downey, A. B. (2015). *Think Python: How to Think Like a Computer Scientist.* Oâ€™Reilly Media, Inc.  

These resources (all available via Google Scholar) discuss Pythonâ€™s design philosophy, emphasize clarity over complexity, and provide more detailed explanations and examples.

---

## 1. Overview of Key Concepts

### 1.1 Data Types

1. **Numbers**  
   - **Integers** (e.g. `10`, `-3`) â€” used for whole numbers (positive, negative, or zero).  
   - **Floats** (e.g. `3.14`, `-0.5`) â€” used for decimal or fractional values.

2. **Strings**  
   - Represent text enclosed within quotes (`"Hello World"` or `'Hi'`).  
   - Strings are immutable, meaning you canâ€™t change individual characters within them once theyâ€™re created (you can only create new strings).

3. **Booleans**  
   - Represent logical values: `True` or `False`.  
   - Often used in conditional statements (`if`, `while`) to control the flow of a program.

# ðŸ§® Python Operators Summary

---

## âž• Arithmetic Operators

| Operator | Name            | Description                                                          |
|:--------:|-----------------|----------------------------------------------------------------------|
| `+`      | Addition        | Adds two operands. Example: `a + b`                                 |
| `-`      | Subtraction     | Subtracts the second operand from the first. Example: `a - b`       |
| `*`      | Multiplication  | Multiplies two operands. Example: `a * b`                           |
| `/`      | Division        | Divides the first operand by the second (always returns a float). Example: `a / b` |
| `//`     | Floor Division  | Divides and returns the largest integer less than or equal to the result. Example: `a // b` |
| `**`     | Exponentiation  | Raises the first operand to the power of the second. Example: `a ** b` |
| `%`      | Modulus         | Returns the remainder of the division. Example: `a % b`             |

---

## ðŸ”Ž Comparison Operators  
(Result is always Boolean: `True` or `False`)

| Operator | Name                     | Description                                                         |
|:--------:|--------------------------|---------------------------------------------------------------------|
| `==`     | Equal to                 | Returns `True` if both operands are equal. Example: `a == b`        |
| `!=`     | Not equal to             | Returns `True` if operands are not equal. Example: `a != b`         |
| `>`      | Greater than             | Returns `True` if the left operand is greater than the right. Example: `a > b` |
| `<`      | Less than                | Returns `True` if the left operand is less than the right. Example: `a < b` |
| `>=`     | Greater than or equal to | Returns `True` if the left operand is greater than or equal to the right. Example: `a >= b` |
| `<=`     | Less than or equal to    | Returns `True` if the left operand is less than or equal to the right. Example: `a <= b` |

---

## ðŸ”— Logical Operators

| Operator | Name   | Description                                                                          |
|:--------:|--------|--------------------------------------------------------------------------------------|
| `and`    | Logical AND  | Returns `True` if both operands are `True`. Example: `a and b`               |
| `or`     | Logical OR   | Returns `True` if at least one operand is `True`. Example: `a or b`          |
| `not`    | Logical NOT  | Inverts the Boolean value. `True` becomes `False`, `False` becomes `True`. Example: `not a` |

---

In [6]:
# Suppose a customer buys 3 apples at $2 each and 2 oranges at $1.5 each
apples = 3
oranges = 2

In [3]:
# Arithmetic operators to calculate total cost
cost_apples = apples * 2        # 3 * 2 = 6
cost_oranges = oranges * 1.5    # 2 * 1.5 = 3.0

In [4]:
total_cost = cost_apples + cost_oranges  # 6 + 3.0 = 9.0

In [5]:
print("Total Cost of Fruits:", total_cost)

Total Cost of Fruits: 9.0

**Detailed Explanation**

1. **Variable Declarations**  
   - `apples = 3` means we're storing the integer value `3` in the variable `apples`.  
   - `oranges = 2` stores the integer `2`.

2. **Multiplication Operator `*`**  
   - `cost_apples = apples * 2` uses the multiplication operator. Since `apples` is `3`, `cost_apples` becomes `6`.  
   - `cost_oranges = oranges * 1.5` uses a float `1.5`. This results in `3.0`.

3. **Addition Operator `+`**  
   - `total_cost = cost_apples + cost_oranges` adds up `6` and `3.0`, giving us `9.0`.

4. **Print Statement**  
   - `print("Total Cost of Fruits:", total_cost)` outputs **Total Cost of Fruits: 9.0**.

This scenario illustrates how arithmetic operators work with both **integers** and **floats**, automatically producing a **float** result when mixing the two.

## âž• Addition (`+`)

The addition operator (`+`) adds two numbers (operands). It can also be used to concatenate strings.

ðŸ”¹ Syntax
```python
result = operand1 + operand2

In [1]:
# Example 1
result1 = 5 + 3
print("5 + 3 =", result1)

# Example 2
result2 = 10 + (-4)
print("10 + (-4) =", result2)

# Example 3
result3 = 0.5 + 1.2
print("0.5 + 1.2 =", result3)

5 + 3 = 8
10 + (-4) = 6
0.5 + 1.2 = 1.7

In [5]:
greeting = "Hello, " + "World!"
print(greeting)

Hello, World!

In [8]:
# Gather user first and last name
first_name = "Alice"
last_name = "Wonderland"

# Concatenate using '+' operator
full_name = first_name + " " + last_name

print("Hello, " + full_name + "!")

Hello, Alice Wonderland!

**Detailed Explanation**

**String Variables:**  
`first_name = "Alice"` and `last_name = "Wonderland"` assign string values to the variables.

**Concatenation with `+`:**  
`full_name = first_name + " " + last_name` joins `"Alice"`, `" "`, and `"Wonderland"` into `"Alice Wonderland"`.

**Print Statement:**  
`print("Hello, " + full_name + "!")` uses the `+` operator to form the final greeting string `"Hello, Alice Wonderland!"`.

When using the `+` operator on strings, Python **concatenates** them, forming one continuous string. This is one way to combine text dynamically.

## âž– Subtraction (`-`)

The subtraction operator (`-`) subtracts the second operand from the first.

ðŸ”¹ Syntax
```python
result = operand1 - operand2

In [2]:
# Example 1
result1 = 10 - 5
print("10 - 5 =", result1)

# Example 2
result2 = 7 - 10
print("7 - 10 =", result2)

# Example 3
result3 = 0.8 - 0.3
print("0.8 - 0.3 =", result3)

10 - 5 = 5
7 - 10 = -3
0.8 - 0.3 = 0.5

## âœ–ï¸ Multiplication (`*`)

The multiplication operator (`*`) multiplies two numbers (operands).

ðŸ”¹ Syntax
```python
result = operand1 * operand2

In [3]:
# Example 1
result1 = 4 * 3
print("4 * 3 =", result1)

# Example 2
result2 = 7 * 0
print("7 * 0 =", result2)

# Example 3
result3 = 2.5 * 4
print("2.5 * 4 =", result3)

4 * 3 = 12
7 * 0 = 0
2.5 * 4 = 10.0

## âž— Division (`/`)

The division operator (`/`) divides the first number (dividend) by the second number (divisor) and returns a **float** result, even if both numbers are integers.

ðŸ”¹ Syntax
```python
result = operand1 / operand22

In [6]:
# Example 1: Simple division
result1 = 10 / 2
print("10 / 2 =", result1)
# Output: 10 / 2 = 5.0

# Example 2: Division resulting in a decimal
result2 = 7 / 3
print("7 / 3 =", result2)
# Output: 7 / 3 = 2.3333333333333335

# Example 3: Division by 1
result3 = 5 / 1
print("5 / 1 =", result3)
# Output: 5 / 1 = 5.0

10 / 2 = 5.0
7 / 3 = 2.3333333333333335
5 / 1 = 5.0

In [8]:
# Example of ZeroDivisionError
result = 10 / 0
print(result)

ZeroDivisionError: division by zero

## // Floor Division (`//`)

The floor division operator (`//`) divides two numbers and returns the **largest integer less than or equal to** the result (it "floors" the result). The answer is an integer if both operands are integers; otherwise, itâ€™s a float.

ðŸ”¹ Syntax
```python
result = operand1 // operand2

In [9]:
# Example 1: Floor division of positive numbers
result1 = 10 // 3
print("10 // 3 =", result1)
# Output: 10 // 3 = 3

# Example 2: Floor division resulting in an integer quotient
result2 = 7 // 2
print("7 // 2 =", result2)
# Output: 7 // 2 = 3

# Example 3: Floor division with a negative number
result3 = -7 // 3
print("-7 // 3 =", result3)
# Output: -7 // 3 = -3

10 // 3 = 3
7 // 2 = 3
-7 // 3 = -3

ðŸ”¹ **Explanation**

- **Example 1**: `10 // 3` gives `3` because `10 / 3 = 3.333...`, and floor division drops the decimal part, keeping only the whole number part `3`.

- **Example 2**: `7 // 2` equals `3` because `7 / 2 = 3.5`, and floor division removes everything after the decimal point, leaving `3`.

- **Example 3**: `-7 // 3` equals `-3`. Floor division always rounds **down** to the nearest **lower** integer.  
  Even though `-7 / 3 = -2.333...`, floor division moves down to `-3`, not up to `-2`.

## ** Exponentiation (`**`)

The exponentiation operator (`**`) raises the first number (the base) to the power of the second number (the exponent).

ðŸ”¹ Syntax
```python
result = base ** exponent

In [10]:
# Example 1: Positive exponent
result1 = 2 ** 3
print("2 ** 3 =", result1)
# Output: 2 ** 3 = 8

# Example 2: Zero exponent
result2 = 5 ** 0
print("5 ** 0 =", result2)
# Output: 5 ** 0 = 1

# Example 3: Fractional exponent (square root)
result3 = 9 ** 0.5
print("9 ** 0.5 =", result3)
# Output: 9 ** 0.5 = 3.0

2 ** 3 = 8
5 ** 0 = 1
9 ** 0.5 = 3.0

In [11]:
result4 = 2 ** -2
print("2 ** -2 =", result4)

2 ** -2 = 0.25

In [10]:
# Input strings representing numbers
food_cost_str = "15.50"
drink_cost_str = "2.45"
tip_percentage_str = "10"

# Convert strings to float or int
food_cost = float(food_cost_str)
drink_cost = float(drink_cost_str)
tip_percentage = int(tip_percentage_str)

# Calculate total
sub_total = food_cost + drink_cost
tip_amount = sub_total * (tip_percentage / 100)
grand_total = sub_total + tip_amount

print("Subtotal:", sub_total)
print("Tip Amount:", tip_amount)
print("Grand Total:", grand_total)

Subtotal: 17.95
Tip Amount: 1.795
Grand Total: 19.744999999999997

**Detailed Explanation**

**String Inputs**  
- Variables like `food_cost_str = "15.50"` look like numbers but are actually **strings**.

**Type Conversion**  
- `float(food_cost_str)` turns the **string** `"15.50"` into a **float** `15.50`.  
- `int(tip_percentage_str)` turns the **string** `"10"` into an **integer** `10`.

**Arithmetic Operations**  
- `sub_total = food_cost + drink_cost` â†’ **15.50 + 2.45 = 17.95**.  
- `tip_amount = sub_total * (tip_percentage / 100)` â†’ **17.95 * (10 / 100) = 1.795**.  
- `grand_total = sub_total + tip_amount` â†’ **17.95 + 1.795 = 19.745**.

**Float Precision**  
- Python might display the result as **19.745000000000005** due to floating-point precision. Thatâ€™s normal for floatsâ€”some decimals canâ€™t be perfectly represented in binary form.

---

# ðŸ”Ž Comparison Operators in Python

Comparison operators are used to compare two values. They return either `True` or `False` based on the condition.

## == Equal to (`==`)
Checks if the **two values are equal**.

In [12]:
# Example 1
print(5 == 5)  # True

# Example 2
print(10 == 5)  # False

# Example 3
print("apple" == "apple")  # True

True
False
True

## â— Not Equal To (`!=`)

The **Not Equal To** operator (`!=`) checks if **two values are different**.  
It returns `True` if they are **not equal** and `False` if they **are equal**.

ðŸ”¹ Syntax
```python
result = operand1 != operand2

In [14]:
# Example 1
print(5 != 3)  # True

# Example 2
print(7 != 7)  # False

# Example 3
print("car" != "bike")  # True

True
False
True

## âž• Greater Than (`>`)

The **Greater Than** operator (`>`) checks if the **left operand is greater than** the right operand.  
It returns `True` if the left operand is **greater**, otherwise it returns `False`.

ðŸ”¹ Syntax
```python
result = operand1 > operand2

In [15]:
# Example 1: Simple numbers
print(10 > 5)
# Output: True (10 is greater than 5)

# Example 2: Equal numbers
print(100 > 100)
# Output: False (100 is NOT greater than 100, they are equal)

# Example 3: Negative numbers
print(-1 > -5)
# Output: True (-1 is greater than -5)

True
False
True

In [17]:
score = int(input("Enter your score: "))

if score > 75:
    print("You passed!")
else:
    print("You need to improve.")

Enter your score:  80

You passed!

## âž– Less Than (`<`)

The **Less Than** operator (`<`) checks if the **left operand is less than** the right operand.  
It returns `True` if the left operand is **smaller**, otherwise it returns `False`.

ðŸ”¹ Syntax
```python
result = operand1 < operand2

In [16]:
# Example 1: Simple numbers
print(5 < 10)
# Output: True (5 is less than 10)

# Example 2: Equal numbers
print(50 < 50)
# Output: False (50 is NOT less than 50, they are equal)

# Example 3: Negative numbers
print(-5 < -1)
# Output: True (-5 is less than -1)

True
False
True

In [19]:
temperature = int(input("Enter the temperature: "))

if temperature < 0:
    print("It's freezing!")
else:
    print("The temperature is above freezing.")

Enter the temperature:  -5

It's freezing!

## âž• Greater Than or Equal To (`>=`)

The **Greater Than or Equal To** operator (`>=`) checks if the **left operand is greater than or equal to** the right operand.  
It returns `True` if the left operand is **greater** than or **equal** to the right operand. Otherwise, it returns `False`.

ðŸ”¹ Syntax
```python
result = operand1 >= operand2

In [20]:
# Example 1: Greater number
print(5 >= 3)
# Output: True (5 is greater than 3)

# Example 2: Equal numbers
print(7 >= 7)
# Output: True (7 is equal to 7)

# Example 3: Less than
print(2 >= 5)
# Output: False (2 is not greater than or equal to 5)

True
True
False

In [7]:
# Student's score out of 100
score = 85

# Compare the score with a threshold
passed = score >= 75

if passed:
    print("Student passed the exam.")
else:
    print("Student failed the exam.")

Student passed the exam.

**Detailed Explanation**

1. **Comparison Operator `>=`**  
   - `score >= 75` checks if `85` is greater than or equal to `75`. This returns `True`.

2. **Boolean Variable**  
   - `passed` stores the result of that comparison (`True`).

3. **If Statement**  
   - `if passed:` is the same as `if passed == True:`, so the code inside the `if` block runs if `passed` is `True`.

4. **Output**  
   - Because `passed` is `True`, the program prints **"Student passed the exam."**

This demonstrates how **comparison operators** produce a **Boolean** value that can be used to control **program flow** via conditional statements.

## <= Less than or Equal to (`<=`)

The `<=` operator checks if the **left operand is less than or equal to** the right operand.  
It returns `True` if the condition is satisfied, otherwise it returns `False`.

ðŸ”¹ Syntax
```python
result = operand1 <= operand2

In [21]:
# Example 1: Less than
print(3 <= 5)  
# Output: True (3 is less than 5)

# Example 2: Equal to
print(6 <= 6)  
# Output: True (6 is equal to 6)

# Example 3: Greater than (False)
print(10 <= 2)  
# Output: False (10 is greater than 2)

True
True
False

---

# ðŸ”— Logical Operators in Python

Logical operators are used to combine conditional statements. They return Boolean values (`True` or `False`).

In [9]:
# Roles in a system
is_admin = False
is_editor = True

# Logical operators
if is_admin or is_editor:
    print("You have access to edit content.")
else:
    print("Access denied.")

You have access to edit content.

**Detailed Explanation**

**Boolean Variables:**  
`is_admin = False`  
`is_editor = True`  

**Logical Operator `or`:**  
The expression `is_admin or is_editor` checks if *at least one* is `True`.  
Since `is_editor` is `True`, the entire expression evaluates to `True`.

**Conditional Check:**  
Because the condition is `True`, the program prints `"You have access to edit content."`

**Note on other logical operators:**  
- `and` requires **both** operands to be `True`.  
- `not` flips a Boolean value from `True` to `False` or vice versa.

This is essential in **access control** scenarios, where user permissions rely on Boolean checks.

## âœ… `and`
- Returns `True` if **both** operands are `True`.
- Returns `False` if **any one** operand is `False`.

ðŸ”¹ Syntax
```python
result = condition1 and condition2

In [22]:
# Example 1
print(True and True)  # True

# Example 2
print(True and False)  # False

# Example 3
age = 20
citizen = True
print(age >= 18 and citizen)  # True (both conditions are True)

True
False
True

## âœ… `or` Operator

The `or` operator returns:
- `True` if **at least one** operand is `True`.
- `False` if **both** operands are `False`.

ðŸ”¹ Syntax
```python
result = condition1 or condition2

In [23]:
# Example 1: One True operand
print(True or False)
# Output: True

# Example 2: Both operands False
print(False or False)
# Output: False

# Example 3: Practical example
is_student = False
has_discount_card = True

# If either is True, user gets a discount
print(is_student or has_discount_card)
# Output: True

True
False
True

## âœ… `not` Operator

The `not` operator **inverts** the Boolean value:
- Turns `True` into `False`
- Turns `False` into `True`

ðŸ”¹ Syntax
```python
result = not condition

In [24]:
# Example 1: Inverting True
print(not True)
# Output: False

# Example 2: Inverting False
print(not False)
# Output: True

# Example 3: Practical example
is_logged_in = False

# If the user is NOT logged in, show login prompt
if not is_logged_in:
    print("Please log in first.")
# Output: Please log in first.

False
True
Please log in first.

---